# build output
dist/

# generated types
.astro/
supabase/.branches/
supabase/.temp/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.env.test

# cloudflare
.dev.vars
.wrangler/

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# e2e
e2e/auth.json

# playwright
.playwright-cli/